{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block contenido %}
<div class="container card-group">
    <div class="items">
      <div class="row">
        <div class="col-2 col-md-4 ">
          <div class="card item shadow mb-4">
            <a class="item-title card-header" href="#">1 ESTRELLA</a>
          </div>
          <div class="card item shadow mb-4">
            <a class="item-title card-header" href="#">2 ESTRELLA</a>
          </div>
          <div class="card item shadow mb-4">
            <a class="item-title card-header" href="#">3 ESTRELLA</a>
          </div>
          <div class="card item shadow mb-4">
            <a class="item-title card-header" href="#">4 ESTRELLA</a>
          </div>
          <div class="card item shadow mb-4">
            <a class="item-title card-header" href="#">5 ESTRELLA</a>
          </div>
        </div> 
      </div>
    </div>
</div>
{% endblock %}